<ion-view view-title="{{user_chat_name}}<br>{{user_chat_name}}">
    <ion-content overflow-scroll="false">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="chat-detail">
                <div class="item item-chat" ng-repeat="chat in chats">
                    <div ng-if="chat.from === username && chat.message" class="chatMessageFromMe">
                        <p>
                            <span class="dark item-text-wrap">{{chat.message}}</span><br>
                            <span class="dark item-text-wrap data">{{chat.date}}</span>
                        </p>
                    </div>
                    <div ng-if="chat.from !== username && chat.message" class="chatMessage">
                        <p>
                            <span class="dark item-text-wrap" ng-if="chat.message">{{chat.message}}</span><br>
                            <span class="dark item-text-wrap data">{{chat.date}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </ion-list>
        <br><br>
    </ion-content>

    <div class="bar bar-footer bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" ng-model="textMessage" placeholder="Escreva sua mensagem...">
        </label>
        <button ng-click="sendMessage(textMessage)" class="button button-outline button-positive">Enviar</button>
    </div>
</ion-view>
