<ion-view view-title="{{user_chat_name}}" class="chat-interno">
    <ion-content>
        <ion-refresher pulling-text="Mensagens antigas" on-refresh="doRefresh()" class="refresh">
        </ion-refresher>
        <ion-list>
            <div class="chat-detail">
                <div class="item item-chat" ng-repeat="chat in chats">
                    <div ng-if="chat.from === username && chat.message" class="chatMessageFromMe">
                        <p>
                            <span class="light item-text-wrap">{{chat.message}}</span><br>
                            <span class="stable item-text-wrap data">{{chat.date | calendar}}</span>
                        </p>
                    </div>
                    <div ng-if="chat.from !== username && chat.message" class="chatMessage">
                        <p>
                            <span class="dark item-text-wrap" ng-if="chat.message">{{chat.message}}</span><br>
                            <span class="dark item-text-wrap data">{{chat.date | calendar}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </ion-list>
        <br><br>
    </ion-content>

    <div class="bar bar-footer bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" ng-model="textMessage" placeholder="Escreva sua mensagem...">
        </label>
        <button ng-click="sendMessage(textMessage)" class="sendMessage"><i class="ion-android-send"></i></button>
    </div>
</ion-view>
