<ion-view hide-nav-bar="true" class="frmLogin">
  <ion-content>
    <div class="grid">
      <h1 class="logo">freevice</h1>
      <!-- Checkbox prestador de serviço !-->
      <ul class="list">
        <li class="checkPrestador item item-checkbox checkbox-balanced light">
           <label class="checkbox">
             <input type="checkbox" ng-model="checkTec" ng-init="checkTec=false">
           </label>
           <p>Eu sou um prestador de serviço</p>
        </li>
      </ul>
      <!-- Fim Verificação !-->
      <button class="botaoLogin button" ng-click="setLocation(locationSelected); login(checkTec); setUserType(checkTec);">Login</button>
    </div>
  </ion-content>
</ion-view>
