<ion-view hide-nav-bar="true">
	<ion-content>
      <div class="list">
        <div ng-repeat="chat in chatMessages" ng-show="chat">
          <div class="item item-avatar" ng-click="selectChat(chat.chatInfo)" ng-show="chat.chatInfo.name != username">
            <img src="{{chat.chatInfo.foto}}">
            <p class="username">{{chat.chatInfo.name}} <span class="data">24/12/2015</span></p>
            <p class="usermsg">{{chat.chatInfo.lmessage}}</p>
          </div>
        </div>
      </div>
	</ion-content>
</ion-view>
