h1.logo{color: #fff;}


.checkPrestador{color: #fff;background-color: transparent;border:0;}

.item-checkbox .checkbox{margin-top: -18px;}

.checkbox input:before{
	border-radius: 0px !important;
	background-color: transparent;
	border:3px solid white !important;
	width: 25px !important;
	height: 25px !important;
}

.checkbox-balanced input:checked:before, .checkbox-balanced input:checked + .checkbox-icon:before{background-color: transparent;color: #fff;}

.checkbox input:after, .checkbox-icon:after{top: 30%;left: 20%;}

.botaoLogin,.botaologin:hover{
	width: 180px;
	height: 50px;
	border-radius: 0;
	background-color: #3271c6;
	color: #fff;
	font-size: 22px;
}




/*Login*/
.grid{position: absolute;top: 0; bottom: 0;left: 0; right: 0;margin: auto;height: 240px;width: 95%;}

.frmLogin{background-image: url('../img/fundo.jpg');background-size: cover;text-align: center;}



.list li{color: #000;text-align: left;}


/* MAP */
#map{ width: 100%; height: 100%; }

/* Google Maps API */
.gm-style-iw{
    max-height: none !important;
    max-width: none !important;
    width: auto !important;
}
/* End Google Maps API */

.tabs-color-assertive .tab-item{color: #fff !important;}

.username{color: #FF5252 !important;font-weight: 600;}
.data{float: right;}

/*@Overwriter CSS*/
.overflow-scroll{overflow-y:hidden;}

[nav-bar-transition="ios"] .title, [nav-bar-transition="ios"] .buttons, [nav-bar-transition="ios"] .back-text{text-align: left;}


/******************************************[CSS Attualized 21/01/2016]***************************************************************/
/*
Design in Photoshop and: Matheus Vieira
*/
/*All Selector*/
.scroll{height: 100%;background-color: #fdfdfd;}

/*Tabs*/
.tabs-light > .tabs, .tabs.tabs-light{background-color: #039be5 !important;height: 38pt;}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item{
	font-size:11pt;
	font-weight: 500;
	line-height: 38pt;
	text-transform: uppercase;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive 
.tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activate{
	border-bottom: 4px solid #118eca !important;
}

.tabs-color-assertive .tab-item.tab-item-active, .tabs-color-assertive .tab-item.active, .tabs-color-assertive .tab-item.activated{
	border-bottom: 4px solid #118eca !important;
}

/*Ext Chat*/

.item-avatar{border: none;background-color: transparent;}

.item-avatar img{width: 39px !important;height: 40px !important;}

.item-avatar p{font-size: 12pt;color: #00141d !important;font-weight: 500;}

.item-avatar p.usermsg,.item-avatar span{font-size: 9pt;font-weight: 400;}

/*Int Chat*/
.bar .back-button.hide, .bar .buttons .hide{color: #fff;display: inline;}

.bar .title.title-left{color: #fff;font-weight: 700;text-transform: uppercase;font-size: 12pt;line-height: 38pt;margin-left: 50px;}

.bar.bar-light{height: 38pt;background-color: #039be5;}

.chat-detail{background-image: url('../img/fundo.png');background-size: cover;}

.chat-detail > .item{border: none;background-color: transparent;color: #00141d;font-weight: 400;}

.chat-detail .chatMessageFromMe, .chat-detail .chatMessage{font-size: 9pt;}

.chat-detail .chatMessageFromMe{float: right;height: auto;background-color: #d6efe0;border-radius: 8px;padding: 5px 5px 5px 5px;}

.chat-detail .chatMessage{float: left;height: auto;background-color: #fdfdfd;border-radius: 8px;padding: 5px 5px 5px 5px;}

.chat-detail .data{font-size: 7pt;}